.logo-picture {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar>.container-fluid {
    /* wasn't referencing the correct container */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}
    
nav a {
    color: #3498db;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s
}

nav a:hover {
    color: black
}

.nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.hero {
    height: 30vh;
    background-color: #3498db;
    color: #fff;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hero-content {
    max-width: 800px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
  }

.container {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px soild black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 20px;
    background-color: #fff;
    /* adding padding above and below the cards */
    
    
}
.card-body {
    padding: 20px;
    
}

.about {
    /* adding padding to some spacing in between this section in the cards */
    padding-top: 20px;
}